body {
	background-color: #FFFFF0;
	font-family: 'Muli', sans-serif;
	color: black;
	font-size: 22px;
	line-height: 1.4;
}
nav {
	background-color: black;
}
nav a {
	color: #FFFFF0;
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;
}
#innernav {
	display: none;
}
#mobile {
	display: block;
	font-size: 2em;
}
nav:hover #innernav {
	display: block;
}
h1 {
	text-align: center;
	font-size: 2.5em;
	/*font-weight: bold;*/
}
h2 {
	font-size: 1.25em;
	font-weight: 2em;
	padding: 1em;
	font-family: 'Muli', sans-serif;
	text-align: center;
}
h3 {
	font-size: 1em;
	border-bottom: solid;
	font-family: 'Muli', sans-serif;
	text-align: left;
}
p {
	text-align: left;
}
ul {
	list-style-type: disc;
	display: inline-block;
	text-align: left;
	margin-left: 50px;
}
#relation {
	color: rgba(204, 0, 0, 1);
	
}
#shop { 
	color: black;
	}
/*#subtitle{
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 1em;
	/*padding-bottom: 4em;*/

.how {
	/*display: inline-block;*/
	text-align: center;
}
.howsteps {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
	padding-top: 0;
}
.wrapper {
	text-align: center;
}
a {
	color: black;
	display: block;

}
/*
input[type="text"] { }
textarea {
}
input[type="submit"]{
}
input[type="reset"] { }*/
footer {
	font-family: 'Muli', sans-serif;
	font-size: .5em;
	text-align: center;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}


@media only screen and (min-width: 480px){
	#relation, #shop {
		font-size: 1.25em;
	}
	img {
		max-width: 33.333%;
	}
	.how { 
		font-size: 1em;
		width: 33.333%;
		float: left;
	}
	.examples { 
	width: 100%; 
	}	
	a {
	color: black;
	display: inline;
}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: .75em;
	}

@media only screen and (min-width: 720px) {
	#mobile {
		display: none;
	}
	#innernav {
		display: block;
	}
	nav a {
		display: block;
		width: 25%;
		float: left;
	}
	nav a:hover {
		color: rgba(204, 0, 0, 1);
	}
	body {
		display: block;
		font-size: 2em;
		font-family: 'Muli', sans-serif;
		text-align: center;
	}
	.how { 
		font-size: 1em;
		width: 33.333%;
		float: left;
	}
	img {
		width: 33.333%;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.25em;
	}
}






