h1{
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  border-bottom-style: solid;
  border-width: thin;
}
img{
   	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: thin;
    width:304px;
    height:228px;
}
#slogan{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
}
#aboutus{
	border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-width: thin;
    border-color: gray;
    font-weight: bold;
}
body {
  text-align: center;
  color: black;
  background: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
}

.center{
    width:230px;
    margin:0 auto;
}
ul{
  text-align: left;
}    


  

