h1{
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Helvetica;
  border-bottom-style: solid;
  font-weight: 100;
}
img{
   	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    width:304px;
    height:228px;
}
#slogan{
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
}
#aboutus{
	border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-style: 1px;
}
body {
  text-align: left;
  color: black;
  background: white;
  font-family: Helvetica;
}